@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root { --color: rgb(128,196,132); }

.info-wrapper button:hover { background: #bfbfbf}

body {
  background-color: var(--color);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

.board {
  border: 1rem solid white;
  background:white;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  border-radius: 1rem
}

.squares {
  background: var(--color);
  color: white;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
  border-radius: 0.5rem
}

.goToStart {
  background: white;
  color: var(--color);
  border: 0.2rem solid white;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 1.25rem;
  text-align: left
}

@keyframes fadeInOpacity { 0% { opacity: 0; } 100% { opacity: 1; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.symbol { 
  opacity: 1; 
  animation-name: fadeInOpacity; 
  animation-iteration-count: 1; 
  animation-timing-function: ease-in; 
  animation-duration: .5s; 
}